{% extends 'main.html' %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<div class="user_panel">
    <div>
        <img src="/static/img/def.png" width="200px">
    </div>
    <div>
        <p>{{current_user.login}}</p>
        <p><b>ФИО:</b> {{current_user.fio}}</p>
        <p><b>Дата рождения:</b> {{current_user.date}}</p>
        <p><b>Город:</b> {{current_user.city}}</p>
        <p>Список друзей:
            <ul>
                {% for current_user_friend in current_user_friends %}

                    <li><a href="/user/{{current_user_friend.friend.id}}">{{current_user_friend.friend.login}}</a>
                        <a href="/deleteuser/{{current_user_friend.id}}">Удалить</a></li>
                {% endfor %}
            </ul>
        </p>
    </div>
</div>
<div class="list_message">
    {% for mypage in mypages %}
        <div>
            <p>{{mypage.message}}</p>
            <p class="datetime">Дата добавления: {{mypage.date_added}}</p>

            <form action="{% url 'deletemypage' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{mypage.id}}">
                <button>Удалить</button>

            </form>

        </div>
    {% endfor %}
</div>
<div>
    <h2>Моя стена:</h2>
    <form method="post">
        {% csrf_token %}
        <textarea cols="100" rows="10" name="message"></textarea><br />
        <button>Разместить</button>
    </form>
</div>
{% endblock %}