body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 800px;
    margin: 10px auto;
    border: 1px solid #eee;
}
.header{
    width: 100%;
    border-bottom: 1px solid #eee;
}
.menu{
    list-style: none;
    text-align: center;
}
.menu li{
    display: inline-block;
    padding-left: 10px;
    border-left: 1px solid #eee;
    padding-right: 10px;
}
.menu li:first-child{
    border: none;
}
.a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #f00;
}

.form{
    width: 191px;
    margin: auto;
}
.form div{
    margin: 10px;
}
.form{
    margin: 10px auto;
}
input{
    padding: 5px 10px;
    border: 1px solid #eee;
    border-radius: 7px;

}
p{
    text-align: center;
}
.user_panel{
    display: flex;
}
.user_panel div:first-child{
    width: 30%;
}

.user_panel div:last-child{
    width: 70%;

}
.user_panel div p{
    text-align: left !important;
}